<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		p {
			z-index:999;
			font-size:40px;
			margin-top: 2px;
			margin-bottom:-5px;
			font-family: 华文行楷;
		}
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=69sgiYLiR9ssKP9HqEeo4W4ig7W8hLHY"></script>
	<title>光大国际 智慧环卫一体化管理平台</title>
</head>
<body>
<center><p id="HeadTitle">光大国际 智慧环卫一体化管理平台</p></center>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	var map = new BMap.Map("allmap");    // 创建Map实例
	map.centerAndZoom(new BMap.Point(114.987,32.754), 15);  // 初始化地图,设置中心点坐标和地图级别

	//添加控件和比例尺
	var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});
	var top_left_navigation = new BMap.NavigationControl(); 
	map.addControl(top_left_control);        
	map.addControl(top_left_navigation);  

	
	var overViewOpen = new BMap.OverviewMapControl({isOpen:true, anchor: BMAP_ANCHOR_BOTTOM_RIGHT});
	map.addControl(overViewOpen);

	//添加地图类型控件
	map.addControl(new BMap.MapTypeControl({
		mapTypes:[
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]}));	  
	map.setCurrentCity("新蔡县");          // 设置地图显示的城市 此项是必须设置的
	map.enableScrollWheelZoom(false);     //开启鼠标滚轮缩放

	//测试垃圾车
	var data_info = [[114.987,32.754,"<p>姓名：王小二</p> <p>手机：18822223333</p> <p>负责人：李刚</p> <p>手机：13311112222</p>"],
					 [114.987,32.743,"<p>姓名：王小二</p> <p>手机：18822223333</p> <p>负责人：李刚</p> <p>手机：13311112222</p>"],
					 [114.974,32.743,"<p>姓名：王小二</p> <p>手机：18822223333</p> <p>负责人：李刚</p> <p>手机：13311112222</p>"]
					];
	var opts = {
				width : 300,     // 信息窗口宽度
				height: 200,     // 信息窗口高度
				title : "垃圾车信息" , // 信息窗口标题
				enableMessage:true//设置允许信息窗发送短息
			   };
	var myIcon = new BMap.Icon("http://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25)) ;

	for(var i=0;i<data_info.length;i++){

		var marker = new BMap.Marker(new BMap.Point(data_info[i][0],data_info[i][1]),{icon:myIcon});  // 创建标注
		var content = data_info[i][2];
		map.addOverlay(marker);               // 将标注添加到地图中
		addClickHandler(content,marker);
	}
	function addClickHandler(content,marker){
		marker.addEventListener("click",function(e){
			openInfo(content,e)}
		);
	}
	function openInfo(content,e){
		var p = e.target;
		var point = new BMap.Point(p.getPosition().lng, p.getPosition().lat);
		var infoWindow = new BMap.InfoWindow(content,opts);  // 创建信息窗口对象 
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	}
</script>
